.close-button {
  @include square-size(30px);

  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: inherit;

  transition: fill var(--shift);
}

.close-button__icon {
  @include square-size(11px);

  fill: #000000;

  .close-button:hover &,
  .close-button:focus & {
    fill: var(--acsent-color);
  }
}
