.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--third-bg-color);

  color: var(--second-acsent-color);
}

.footer__container {
  @include flex-wrap;
  align-items: baseline;

  @media screen and (max-width: 767px) {
    @include column-center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-right: 60px;
    padding-left: 60px;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

.foter__part {
  @media screen and (max-width: 1199px) {
    @include flex-column-center;
  }

  @media screen and (max-width: 767px) {
    & + & {
      margin-top: 60px;
    }
  }
  @media screen and (min-width: 1200px) {
    // width: auto;
    // flex-grow: 1;
  }
}

.footer__logo {
  color: var(--second-acsent-color);
}

.footer__address {
  // width: 231px;
  // margin-right: 70px;
}

.address {
  @media screen and (max-width: 1199px) {
    @include flex-column-center;
  }
  margin-top: 20px;
}

.address__list {
  @media screen and (max-width: 1199px) {
    @include flex-column-center;
  }
}

.address__item {
  margin-top: 9px;
}

.address__linc {
  color: rgba(255, 255, 255, 0.6);
}

.footer__social-links {
  // margin-right: 93px;
}

.footer__title {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;

  @include text-title-second(700);

  @include f-size-height(14px, 1.14);
}

.footer__social-link {
  fill: var(--second-acsent-color);
  background: rgba(255, 255, 255, 0.1);
}

.footer__subscribe {
  width: 100%;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    width: 570px;
  }
}

.subscribe {
  display: flex;
  @media screen and (max-width: 1199px) {
    @include column-center;
    width: 100%;
  }
}

.subscribe__box {
  position: relative;
  display: block;
  max-width: 450px;
  height: 50px;
  width: 100%;
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }
}

.subscribe__input {
  @include square(100%);
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  color: var(--second-acsent-color);

  background-color: var(--third-bg-color);

  transition: outline var(--shift);

  .subscribe__box:hover & {
    outline: 1px solid;
  }
}

.subscribe__name {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  display: block;

  @include f-size-height(16px, 1.25);

  color: var(--second-acsent-color-transparent);

  transition: transform var(--shift);

  .subscribe__input:focus + & {
    transform: translate(calc(-100% - 32px), -50%);
  }
}
