.team {
  @media screen and (min-width: 768px) {
    @include flex-wrap;
    margin: -15px;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-bg-color);

  perspective: 3000px;

  @media screen and (max-width: 767px) {
    & + & {
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    @include grid(2, 15px);
  }

  @media screen and (min-width: 1200px) {
    @include grid(4, 15px);
  }
}
